*{
  font-family: 'Times New Roman', Times, serif;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}